$mainFont: "Oxygen", sans-serif;

.loginPanel {
  width: 100vw;
  height: 100vh;
  background-color: #262933;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $mainFont;
  color: white;
}

.loginPanel__form {
  background-color: #333744;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px;
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);

  svg {
    height: 90px;
  }
}

.loginPanel__form__input {
  margin-top: 10px;
  width: 100%;
  background-color: #262933;
  border: 0px;
  padding: 10px;
  color: white;

  &::placeholder {
    color: #a6a6a6;
  }
}

.loginPanel__form__button {
  margin-top: 10px;
  background-color: #30d6b8;
  border: 0px;
  color: white;
  padding: 10px 40px;
  font-size: 1.3em;
  font-weight: 400;
  cursor: pointer;
}

p {
  margin: 5px 00px;
}

.loginPanel__form__register {
  cursor: pointer;
  text-decoration: underline;
}

a {
  color: white;

  &:visited {
    color: white;
  }
  &:hover {
    color: white;
  }
  &:focus {
    color: white;
  }
}
