.MainPanel {
  width: 80vw;
  height: 100vh;
  background-color: #262933;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainPanel__logoutButton {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #30d6b8;
  border: 0px;
  color: white;
  cursor: pointer;
}

.MainPanel__logoutButton:focus {
  outline: none;
}
