<div class="MainPanel">
  <button class="MainPanel__logoutButton" (click)="logout()">Logout</button>
  <ng-container [ngSwitch]="currentView">
    <app-banned-words
      *ngSwitchCase="'banned-words'"
      (viewEmmiter)="setView($event)"
      (wordEmmiter)="setWord($event)"
    ></app-banned-words>
    <app-add-banned-word
      *ngSwitchCase="'add-word'"
      (viewEmmiter)="setView($event)"
    ></app-add-banned-word>
    <app-edit-word
      *ngSwitchCase="'edit-word'"
      [word]="wordData"
      (viewEmitter)="setView($event)"
    ></app-edit-word>
    <app-song-request *ngSwitchCase="'song-request'"></app-song-request>
    <app-banners *ngSwitchCase="'banners'"></app-banners>
  </ng-container>
</div>
